

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 4px 8px;
    width: 60px;
}

td:first-child {
    font-weight:bold;
    width: 100px;
}

.browser {
    text-align: center;
}

.support_full {
    background-color: green;
}

.support_partial {
    background-color: orange;
}

.support_none {
    background-color: red;
}

.support_untested {
    background-color: gray;
}